*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins', sans-serif;
}
/* nav */

.navbar{

    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 0 0;
    background: black;
    font-family: 'Unbuntu', sans-serif;
    transition: all 0.3s ease;

}

.navbar.sticky{
    padding: 15px 0;
    background: #242424;

}
.max-width{
    width: 100%;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a i{

    font-size: 36px;
    color: #fff;
    font-weight: 600;

}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{

    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;

}

.navbar .menu li a:hover{
    color: #007bff;

}
/* menu button */

.menu-button {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;

}

/* menu button end */

/* responsive */

@media (max-width: 1300px){
    .home .max-width{

        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{

       height: 350px;
       width: 30px;
      
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
   
    .menu-button{
        display: block;
        z-index: 999;
    }

    .menu-button i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #242424;;
        color: #fff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;

    }
    .navbar .menu li{
        display: block;
        
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

        
    .navbar .menu li a:hover{
        color: #000;
    }
    .home .home-content .text-2{
        font-size: 70px;
     
    }
    
    .home .home-content .text-3{
        font-size: 35px;
       
    
    }
}
.section{  
    background-image: linear-gradient(to top,rgba(0,0,0,0.9),rgba(0,0,0,0.8),black), url(about.jpg);
    background-blend-mode: darken;
    background-size:100% 100%;
    
    width: 100%;
    min-height: 140vh;

}
.logo{
    font-size: 70px;
}
.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}
.content-section{
    float: left;
    width: 55%;
}
.image-section{
    opacity: 0.5;
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}
.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}
.content-section .content.h3{
    margin-top: 20px;
    font-size: 18px;
    
}
.content-section .content.p{
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}
.content-section .content .button{
    margin-top: 30px;
}
.content-section .content .button a{
    background-color:  rgb(54, 79, 190);
    padding: 12px 40px;
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.content-section .content .button a:hover{
    color:  rgb(54, 79, 190);
    background-color: white;
}
.content-section .social{
    margin: 40px 40px;
}
.content-section .social i{
    padding: 0px 10px;
    color:  rgb(54, 79, 190);
    font-size: 30px;
}
.content-section .social i:hover{
    color:white;
     
}

@media screen and (max-width:992px){
    .content-section{
        float: none;
        width: 50%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 50%;
        display: block;
        margin: auto; 
    }
    .content-section .content h3{
        text-align: center;
    }
    .content-section .content p{
        text-align: center;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
}
@media screen and (max-width:786px) {
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto; 
    }
    .image-section img{
        width: 100%;
        height: auto;
        display: block;
        margin: auto;
    }
    .content-section .title{
        text-align: center;
        font-size: 19px;
    }
    .content-section .content .button{
        text-align: center;
    }
    .content-section .content .button a{
        padding: 9px 30px;
    }
    .content-section .social{
        text-align: center;
    }
}
.footer1{
    background-color:#111010;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid white;
  
  }
  
  .footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  
  }
  
  
  #code{
  font-size: 36px;
  color:white;
  }
  
  .logo1 i{
    color: white;
    font-size: 36px;
    
  }
  
  
  .footer-icons i{
    font-size: 30px;
  
    width: 55px;
    line-height: 15px;
    
    color: white;
    border: 1px solid white;
    padding: 10px;
  
  cursor: pointer;
    margin-left: 10px;
  }
  .footer-icons i:hover{
    position: relative;
  width: 45px;
  height: 20px;
    font-size: 25px;
  text-align: center;
  line-height: 15px;
  border: 1px solid white;
  border-radius: 100%;
  color: white;
  
  transition: 0.5s;
  cursor: pointer
  }
  
