@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

.max-width{

    max-width: 1300px;
    padding: 0 80px;
    margin: auto;

}

/* nav */

.navbar{

    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 35px 0;
    background: black;
    font-family: 'Unbuntu', sans-serif;
    transition: all 0.3s ease;

}

.navbar.sticky{
    padding: 15px 0;
    background: #242424;

}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a i{

    font-size: 36px;
    color: #fff;
    font-weight: 600;

}

.navbar .menu li{
    list-style: none;
    display: inline-block;
}

.navbar .menu li a{

    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;

}

.navbar .menu li a:hover{
    color: #007bff;

}

/* menu button */

.menu-button {
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;

}

/* menu button end */

/* responsive */

@media (max-width: 1300px){
    .home .max-width{

        margin-left: 0px;
    }
}

@media (max-width: 1104px){
    .about .about-content .left img{

       height: 350px;
       width: 30px;
      
    }
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
   
    .menu-button{
        display: block;
        z-index: 999;
    }

    .menu-button i.active:before{
        content: "\f00d";
    }

    .navbar .menu{
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #242424;;
        color: #fff;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;

    }
    .navbar .menu li{
        display: block;
        
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

        
    .navbar .menu li a:hover{
        color: #000;
    }
    .home .home-content .text-2{
        font-size: 70px;
     
    }
    
    .home .home-content .text-3{
        font-size: 35px;
       
    
    }
}
/* home */
.home{
    display: flex;
    background: rgb(36, 34, 34);
    height: 80vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Unbuntu', sans-serif;
}
.home-content{
    padding-top: 100px;
}
.home .max-width{
    margin: auto 0 auto 40px;
}

.home .home-content .text-1{
    font-size: 27px;
    color: #007bff;
}

.home .home-content .text-2{
    font-size: 48px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 22px;
    margin: 5px 0;

}

.home .home-content .text-4{
    font-size: 27px;
    margin: 5px 0;
  

}

.home .home-content .text-4 span{

    color: #007bff;
    font-weight: 500px;

}

.home .home-content a{
    display: inline-block;
    background: white;
    color: #000;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 20px;
    transition: all 0.3s ease;

}

.home .home-content a{
    font-size: 23px;
    padding: 10px 30px;
}

.home .home-content a:hover{

    color: #fff;
    background: none;

}
.button-sub-text{
    border-radius: 20%;
}
/* skills portion */
.skills{
    font-family: 'Unbuntu', sans-serif;
    width: 100%;
    background-color: rgb(27, 26, 26);
    color: #fff;
    padding-bottom: 110px;
    border-top: 2px solid #dce8f8;
    padding-top: 100px;
}
.section-title h2{
    text-align: center;
    padding: 40px;
    font-size: 90px;
}
.section-title ol{
    padding: 3px;
    margin-top: 20px;
    font-size: large;
    padding-left: 70px;
}
.section-title li{
    display: inline-block;
    padding: 20px;
}
.section-title p{
    font-size: larger;
    text-align: center;
    font-weight: bold;
    padding-bottom: 40px;
}
.progress{
    padding-top: 60px;
}
.skills .progress {
    height: 80px;
    margin-left: 30px;
    display: inline-block;
    background: none;
    border-radius: 0;
    width: 29%;
    padding-top: 40px;
  }
  
  .skills .progress .skill {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #fff;
  }
  
  .skills .progress .skill .val {
    float: right;
    font-style: normal;
  }
  
  .skills .progress-bar-wrap {
    background: #dce8f8;
    height: 10px;
  }
  
  .skills .progress-bar {
    width: 1px;
    height: 10px;
    transition: .9s;
    background-color: #149ddd;
  }

  
  /*FOOTER SECTION :: STARTS HERE*/


.footer1{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border-top: 1px solid white; */

}

.footer{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}


#code{
  font-size: 36px;
  color:white;
}

.logo1 i{
    color: white;
    font-size: 36px;
    
}


.footer-icons i{
    font-size: 30px;

    width: 55px;
    line-height: 15px;
    
    color: white;
    border: 1px solid white;
    padding: 10px;
	
	cursor: pointer;
    margin-left: 10px;
}
.footer-icons i:hover{
    position: relative;
	width: 45px;
	height: 36px;
    font-size: 25px;
	text-align: center;
	line-height: 15px;
	border: 1px solid white;
	border-radius: 100%;
	color: white;
	
	transition: 0.5s;
	cursor: pointer
}


